In [1]:
## -------- Import the necessary libraries -------------
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-darkgrid')
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
from pandas_datareader import data as web
import datetime

import apiclient.discovery
from oauth2client.service_account import ServiceAccountCredentials
import httplib2

import gspread as gd

In [2]:
# подключение к гугл таблице

LIST = 'Аргентина'

# Файл, полученный в Google Developer Console
CREDENTIALS_FILE = 'Seetzzz-1cb93f64d8d7.json'
# ID Google Sheets документа (можно взять из его URL)
spreadsheet_id = '1lDhu6-tBmoh66a1mY3RU2yPV2_3uIzNSQWNI5UtMcag'
spreadsheet_id2 = '1A3leW6ZfsoVEPXZsv0Loj4eAbyKRchnHrJLdP4RIXDA'
#
# Авторизуемся и получаем service — экземпляр доступа к API
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    CREDENTIALS_FILE,
    ['https://www.googleapis.com/auth/spreadsheets',
     'https://www.googleapis.com/auth/drive'])
httpAuth = credentials.authorize(httplib2.Http())
service = apiclient.discovery.build('sheets', 'v4', http=httpAuth)

# ____________________________Парсим тикеры !!!!С ТАБЛИЦЫ!!!! и работаем с ними _______________________________________

# Чтения файла
values = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id,
    range=f'{LIST}!A1:L1000',
    majorDimension='COLUMNS'
).execute()

tickers = values['values'][1][1:]

print(tickers)

['AGRO.BA', 'ALUA.BA', 'AUSO.BA', 'BHIP.BA', 'BMA.BA', 'BPAT.BA', 'BRIO.BA', 'BBAR.BA', 'GAMI.BA', 'BOLT.BA', 'BYMA.BA', 'CVH.BA', 'CGPA2.BA', 'CAPX.BA', 'CARC.BA', 'CADO.BA', 'CELU.BA', 'CEPU2.BA', 'URBA.BA', 'COMO.BA', 'INTR.BA', 'CTIO.BA', 'COUR.BA', 'CRES.BA', 'DGCU2.BA', 'DOME.BA', 'DYCA.BA', 'EDSH.BA', 'EDLH.BA', 'EMAC.BA', 'EDN.BA', 'EMDE.BA', 'DLAP.BA', 'DSUR.BA', 'CECO2.BA', 'FERR.BA', 'FIPL.BA', 'REGE.BA', 'GARO.BA', 'GRIM.BA', 'GCLA.BA', 'OEST.BA', 'GGAL.BA', 'VALO.BA', 'SUPV.BA', 'HAVA.BA', 'HARG.BA', 'HULI.BA', 'PATA.BA', 'ROSE.BA', 'INAG.BA', 'IEBA.BA', 'INVJ.BA', 'IRSA.BA', 'IRCP.BA', 'RICH.BA', 'LEDE.BA', 'LEID.BA', 'LOMA.BA', 'LONG.BA', 'MTBA.BA', 'METR.BA', 'MVIA.BA', 'MIRG.BA', 'MOLA.BA', 'SEMI.BA', 'MOLI.BA', 'MORI.BA', 'GBAN.BA', 'NCON.BA', 'OVOP.BA', 'PAMP.BA', 'PREN1.BA', 'PATR.BA', 'PSUR.BA', 'PGR.BA', 'POLL.BA', 'RIGO.BA', 'SAMI.BA', 'COME.BA', 'TECO2.BA', 'TXAR.BA', 'TGLT.BA', 'TRAN.BA', 'TGNO4.BA', 'TGSU2.BA', 'YPFD.BA']

In [5]:
p = pdr.DataReader(tickers[0:5], 'yahoo', datetime.datetime(start_year,1,1), end)['Adj Close']

In [4]:
list_of_tickers = tickers

index_ticker = ['ARGT']

print(list_of_tickers)

decile_coef = 0.5
start_year = 2010
end = datetime.datetime.now()

['AGRO.BA', 'ALUA.BA', 'AUSO.BA', 'BHIP.BA', 'BMA.BA', 'BPAT.BA', 'BRIO.BA', 'BBAR.BA', 'GAMI.BA', 'BOLT.BA', 'BYMA.BA', 'CVH.BA', 'CGPA2.BA', 'CAPX.BA', 'CARC.BA', 'CADO.BA', 'CELU.BA', 'CEPU2.BA', 'URBA.BA', 'COMO.BA', 'INTR.BA', 'CTIO.BA', 'COUR.BA', 'CRES.BA', 'DGCU2.BA', 'DOME.BA', 'DYCA.BA', 'EDSH.BA', 'EDLH.BA', 'EMAC.BA', 'EDN.BA', 'EMDE.BA', 'DLAP.BA', 'DSUR.BA', 'CECO2.BA', 'FERR.BA', 'FIPL.BA', 'REGE.BA', 'GARO.BA', 'GRIM.BA', 'GCLA.BA', 'OEST.BA', 'GGAL.BA', 'VALO.BA', 'SUPV.BA', 'HAVA.BA', 'HARG.BA', 'HULI.BA', 'PATA.BA', 'ROSE.BA', 'INAG.BA', 'IEBA.BA', 'INVJ.BA', 'IRSA.BA', 'IRCP.BA', 'RICH.BA', 'LEDE.BA', 'LEID.BA', 'LOMA.BA', 'LONG.BA', 'MTBA.BA', 'METR.BA', 'MVIA.BA', 'MIRG.BA', 'MOLA.BA', 'SEMI.BA', 'MOLI.BA', 'MORI.BA', 'GBAN.BA', 'NCON.BA', 'OVOP.BA', 'PAMP.BA', 'PREN1.BA', 'PATR.BA', 'PSUR.BA', 'PGR.BA', 'POLL.BA', 'RIGO.BA', 'SAMI.BA', 'COME.BA', 'TECO2.BA', 'TXAR.BA', 'TGLT.BA', 'TRAN.BA', 'TGNO4.BA', 'TGSU2.BA', 'YPFD.BA']

In [6]:
index_ticker_p = pdr.DataReader(index_ticker, 'yahoo', datetime.datetime(start_year,1,1), end)['Adj Close']

In [7]:
index_ticker_p

Symbols          ARGT
Date
2011-03-03  27.683598
2011-03-04  27.592478
2011-03-07  27.665373
2011-03-08  27.774721
2011-03-09  27.592478
...               ...
2021-05-21  29.730000
2021-05-24  29.850000
2021-05-25  29.559999
2021-05-26  30.030001
2021-05-27  30.059999

[2577 rows x 1 columns]

In [8]:
data_pc = p.pct_change()

In [9]:
data_pc

Symbols      AGRO.BA   ALUA.BA   AUSO.BA   BHIP.BA    BMA.BA
Date
2010-01-04       NaN       NaN       NaN       NaN       NaN
2010-01-05  0.068966  0.000000  0.000000 -0.033113  0.004485
2010-01-06 -0.010753 -0.030380  0.000000 -0.034247 -0.031250
2010-01-07  0.008696  0.031332  0.000000  0.035461  0.009216
2010-01-08  0.010776 -0.015190  0.000000 -0.041096 -0.013699
...              ...       ...       ...       ...       ...
2021-05-19 -0.006508  0.009288  0.017857  0.001269  0.005010
2021-05-20 -0.006550  0.021472  0.017544  0.007605  0.030309
2021-05-21 -0.015385 -0.030030 -0.008621  0.000000 -0.031933
2021-05-26 -0.004464 -0.007224  0.012174 -0.001258 -0.002799
2021-05-27  0.008969  0.039501  0.073883  0.040302  0.018444

[2780 rows x 5 columns]

In [15]:
weights = np.arange(1,11)



def plot_returns_dd(portfolio):
    # ----------- Sharpe ratio ------------------
    sharpe_ratio = np.mean(portfolio.str_returns)/np.std(portfolio.str_returns)*(252**0.5)
    # ----------- Cumulative strategy returns ------------------
    portfolio['cum_str_returns'] = (portfolio['str_returns']+1).cumprod()
    # ----------- Drawdown ------------------    
    # Calculate the running maximum
    running_max = np.maximum.accumulate(portfolio['cum_str_returns'].dropna())
    running_max[running_max < 1] = 1
    drawdown = (portfolio['cum_str_returns'])/running_max - 1
    max_dd = drawdown.min()*100
    cumulative_return= (portfolio['cum_str_returns'].iloc[-2] - 1) * 100
      
    return sharpe_ratio, max_dd, cumulative_return

def plot_returns_dd_index(portfolio_index):
    portfolio_index = portfolio_index.copy()
    portfolio_index['str_returns'] = portfolio_index['returns'].shift(-1)
    sharpe_ratio = np.mean(portfolio_index.str_returns)/np.std(portfolio_index.str_returns)*(252**0.5)
    portfolio_index['cum_str_returns'] = (portfolio_index['str_returns']+1).cumprod()
        # ----------- Drawdown ------------------    
    # Calculate the running maximum
    running_max = np.maximum.accumulate(portfolio_index['cum_str_returns'].dropna())
    running_max[running_max < 1] = 1
    drawdown = (portfolio_index['cum_str_returns'])/running_max - 1
    max_dd = drawdown.min()*100     
    cumulative_return = (portfolio_index['cum_str_returns'].iloc[-2] - 1) * 100
    
    return sharpe_ratio, max_dd, cumulative_return
    
def get_strategy_returns_breakout(portfolio_breakout):
    portfolio_breakout = portfolio.copy()
#     print(portfolio_breakout)
    # Calculate the breakout indicator values
    portfolio_breakout['high'] = portfolio_breakout.value.rolling(window=3).max()
    # Create a trading signal
    portfolio_breakout['signal'] = np.where(portfolio_breakout.value>=portfolio_breakout.high,1,0)
    # Calculate the strategy returns
    portfolio_breakout['str_returns'] = portfolio_breakout['returns'].shift(-1) * portfolio_breakout['signal']
#     print(portfolio_breakout)
    return portfolio_breakout 
    
def get_strategy_returns_sma_breakout(portfolio_sma_breakout):
    portfolio_sma_breakout = portfolio.copy()
#     print(portfolio_sma_breakout)
    # Calculate the simple moving average 
    sma10 = portfolio_sma_breakout.value > portfolio_sma_breakout.value.rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)
    # Calculate the breakout indicator values
    breakout = portfolio_sma_breakout.value>=portfolio_sma_breakout.value.rolling(window=3).max()
    # Create a trading signal
    portfolio_sma_breakout['signal'] = np.where(sma10 & breakout,1,0)
    # Calculate the strategy returns
    portfolio_sma_breakout['str_returns'] = portfolio_sma_breakout['returns'].shift(-1) * portfolio_sma_breakout['signal']
#     print(portfolio_sma_breakout)
    
    return portfolio_sma_breakout
    
def get_strategy_returns_sma(portfolio_sma):
    portfolio_sma = portfolio.copy()
#     print(portfolio_sma)  portfolio.value.rolling(window=10).mean()
    # Calculate the simple moving average of period 10
    portfolio_sma['sma10'] = portfolio_sma.value.rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)
    # Create a trading signal
    portfolio_sma['signal'] = np.where(portfolio_sma.value > portfolio_sma.sma10,1,0)
    # Calculate the strategy returns
    portfolio_sma['str_returns'] = portfolio_sma['returns'].shift(-1) * portfolio_sma['signal']
    print(portfolio_sma)
    print(print('+'*50))
    return portfolio_sma


itteration_result = pd.DataFrame()
main_result = pd.DataFrame()

cumSma = []
cumBrake = []
cumSmaBrake = []

max_ddSma = []
max_ddBrake = []
max_ddSmaBrake = []

sharpeSma = []
sharpeBrake = []
sharpeSmaBrake = []

cumIndex = []
max_ddIndex = []
sharpeIndex = []

# Calculate the standard deviation
# data_std = np.std(p, axis = 0)
for i in range(2021 - start_year):
    data_std = data_pc.loc[f'{start_year+i}-01-01':f'{start_year+i}-12-31'].std()*(252**0.5)*100
#     print('Date:', start_year+i, 'STD:', data_std)
    vol_sorted = data_std.sort_values(ascending=False)
    top_decile = vol_sorted[:int(len(data_std)*decile_coef)]
#     print('top_decile', top_decile)
    data = p
    data_index =  index_ticker_p
    
    data['Date'] = data.index.tolist()
    data_index['Date'] = data_index.index.tolist()
    
    data = data.set_index(data['Date'].dt.year)
    data_index = data_index.set_index(data_index['Date'].dt.year)
    
    # Retrieve data in stock_list from 2019 January onwards
    stock_data = data.loc[start_year+i+1,top_decile.index]
    stock_data_index = data_index.loc[start_year+i+1,index_ticker]

    # Calculate the daily percentage change of prices
    
    stock_data_pc = stock_data.pct_change()
    stock_data_index = stock_data_index.pct_change()
    # Create a new dataframe called portfolio
    portfolio = pd.DataFrame()
    portfolio_index = pd.DataFrame()
    # Calculate the average returns of stocks
    portfolio['returns'] = stock_data_pc.mean(axis=1)
    portfolio_index['returns'] = stock_data_index.mean(axis=1)
    # Calculate cumulative returns of portfolio
    portfolio['value'] = (portfolio+1).cumprod()
    portfolio_index['value'] = (portfolio_index+1).cumprod()
    # Drop any rows with nan values
    portfolio = portfolio.dropna()
    portfolio_index = portfolio_index.dropna()

    portfolio_sma = get_strategy_returns_sma(portfolio)   
    portfolio_breakout =  get_strategy_returns_breakout(portfolio)   
    portfolio_sma_breakout = get_strategy_returns_sma_breakout(portfolio)  
   
    sharpe_ratio_sma, max_dd_sma, cumulative_return_sma = plot_returns_dd(portfolio_sma)
    sharpe_ratio_breakout, max_dd_breakout, cumulative_return_breakout = plot_returns_dd(portfolio_breakout)
    sharpe_ratio_sma_breakout, max_dd_sma_breakout, cumulative_return_sma_breakout = plot_returns_dd(portfolio_sma_breakout)
        
    sharpe_ratio_index, max_dd_index, cumulative_return_index = plot_returns_dd_index(portfolio_index)
    
    cumSma.append(cumulative_return_sma)
    cumBrake.append(cumulative_return_breakout)
    cumSmaBrake.append(cumulative_return_sma_breakout)

    max_ddSma.append(max_dd_sma)
    max_ddBrake.append(max_dd_breakout)
    max_ddSmaBrake.append(max_dd_sma_breakout)

    sharpeSma.append(sharpe_ratio_sma)
    sharpeBrake.append(sharpe_ratio_breakout)
    sharpeSmaBrake.append(sharpe_ratio_sma_breakout)
    
    cumIndex.append(cumulative_return_index)
    max_ddIndex.append(max_dd_index)
    sharpeIndex.append(sharpe_ratio_index)

    print('*'*50)

main_result['Cum SMA'] = cumSma
main_result['Cum Brake'] = cumBrake
main_result['Cum SMA & Brake'] = cumSmaBrake
main_result['Max Drawdown SMA'] = max_ddSma
main_result['Max Drawdown Brake'] = max_ddBrake
main_result['Max Drawdown SMA & Brake'] = max_ddSmaBrake
main_result['Sharpe Ratio SMA'] = sharpeSma
main_result['Sharpe Ratio Brake'] = sharpeBrake
main_result['Sharpe Ratio SMA & Brake'] = sharpeSmaBrake

main_result['Index Cum'] = cumIndex
main_result['Index Max Drawdown'] = max_ddIndex
main_result['Index Sharpe Ratio'] = sharpeIndex

table_date = []

start_year = 2010
end = datetime.datetime.now()

for k in range(start_year+1, end.year+1):
    table_date.append(k)

print(table_date)   
main_result['Date'] = table_date

main_result = main_result.set_index(main_result.Date)  
main_result = main_result.T

       returns     value     sma10  signal  str_returns
Date
2011  0.017573  1.017573       NaN       0     0.000000
2011  0.039375  1.057640       NaN       0    -0.000000
2011 -0.004642  1.052730       NaN       0    -0.000000
2011 -0.032670  1.018337       NaN       0    -0.000000
2011 -0.002624  1.015665       NaN       0    -0.000000
...        ...       ...       ...     ...          ...
2011 -0.017857  0.528066  0.543721       0     0.000000
2011  0.025926  0.541756  0.542018       0     0.000000
2011  0.007042  0.545571  0.541757       1    -0.013889
2011 -0.013889  0.537994  0.540462       0     0.000000
2011  0.028571  0.553365  0.542304       1          NaN

[243 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2012 -0.006849  0.993151       NaN       0    -0.000000
2012 -0.001327  0.991833       NaN       0     0.000000
2012  0.030751  1.022333       NaN       0    -0.000000
2012 -0.006849  1.015331       NaN       0     0.000000
2012  0.003315  1.018697       NaN       0     0.000000
...        ...       ...       ...     ...          ...
2012 -0.003892  2.219827  2.232515       0    -0.000000
2012 -0.004405  2.210048  2.248771       0     0.000000
2012  0.423704  3.146453  2.407546       1     0.027857
2012  0.027857  3.234104  2.537329       1     0.024679
2012  0.024679  3.313918  2.689125       1          NaN

[241 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2013  0.020071  1.020071       NaN       0          0.0
2013  0.017161  1.037576       NaN       0          0.0
2013  0.005536  1.043320       NaN       0         -0.0
2013 -0.004075  1.039068       NaN       0          0.0
2013  0.052404  1.093519       NaN       0          0.0
...        ...       ...       ...     ...          ...
2013 -0.019444  1.373458  1.391693       0          0.0
2013  0.002890  1.377427  1.387752       0         -0.0
2013 -0.016256  1.355036  1.380985       0          0.0
2013  0.017647  1.378948  1.379483       0          0.0
2013  0.005682  1.386783  1.379820       1          NaN

[241 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2014 -0.002755  0.997245       NaN       0    -0.000000
2014 -0.012024  0.985254       NaN       0     0.000000
2014  0.004427  0.989616       NaN       0     0.000000
2014  0.007353  0.996893       NaN       0    -0.000000
2014 -0.010221  0.986703       NaN       0    -0.000000
...        ...       ...       ...     ...          ...
2014  0.040366  1.683371  1.556778       1     0.030879
2014  0.030879  1.735353  1.589442       1     0.032380
2014  0.032380  1.791544  1.631506       1     0.005882
2014  0.005882  1.802082  1.671293       1     0.000814
2014  0.000814  1.803549  1.705616       1          NaN

[247 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2015 -0.052280  0.947720       NaN       0    -0.000000
2015 -0.022844  0.926070       NaN       0     0.000000
2015  0.045306  0.968027       NaN       0    -0.000000
2015 -0.005515  0.962689       NaN       0     0.000000
2015  0.017297  0.979341       NaN       0    -0.000000
...        ...       ...       ...     ...          ...
2015  0.005962  2.382228  2.425274       0     0.000000
2015  0.017703  2.424400  2.416612       1    -0.033357
2015 -0.033357  2.343530  2.396720       0    -0.000000
2015 -0.017949  2.301466  2.374955       0    -0.000000
2015 -0.016674  2.263091  2.351710       0          NaN

[241 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2016  0.037517  1.037517       NaN       0     0.000000
2016  0.011487  1.049435       NaN       0    -0.000000
2016 -0.001962  1.047375       NaN       0    -0.000000
2016 -0.013583  1.033149       NaN       0    -0.000000
2016 -0.028574  1.003627       NaN       0    -0.000000
...        ...       ...       ...     ...          ...
2016 -0.007662  2.061745  2.047307       1     0.013874
2016  0.013874  2.090350  2.056596       1     0.045071
2016  0.045071  2.184565  2.082347       1     0.052459
2016  0.052459  2.299164  2.126443       1     0.000000
2016  0.000000  2.299164  2.165309       1          NaN

[246 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2017  0.033516  1.033516       NaN       0     0.000000
2017  0.034438  1.069109       NaN       0    -0.000000
2017 -0.018619  1.049203       NaN       0    -0.000000
2017 -0.001420  1.047713       NaN       0     0.000000
2017  0.029700  1.078830       NaN       0     0.000000
...        ...       ...       ...     ...          ...
2017  0.011380  1.570938  1.571309       0     0.000000
2017  0.036384  1.628095  1.579274       1     0.001150
2017  0.001150  1.629967  1.587719       1    -0.002839
2017 -0.002839  1.625340  1.595452       1     0.024531
2017  0.024531  1.665211  1.609992       1          NaN

[242 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2018  0.102166  1.102166       NaN       0          0.0
2018  0.010867  1.114143       NaN       0         -0.0
2018 -0.003477  1.110269       NaN       0         -0.0
2018 -0.012498  1.096393       NaN       0         -0.0
2018 -0.023015  1.071160       NaN       0         -0.0
...        ...       ...       ...     ...          ...
2018 -0.024641  0.728471  0.751372       0         -0.0
2018 -0.042055  0.697835  0.739870       0          0.0
2018  0.024017  0.714596  0.733041       0          0.0
2018  0.022222  0.730476  0.730306       1          0.0
2018  0.000000  0.730476  0.728598       1          NaN

[244 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2019 -0.016307  0.983693       NaN       0     0.000000
2019  0.000125  0.983816       NaN       0     0.000000
2019  0.050769  1.033764       NaN       0     0.000000
2019  0.008040  1.042075       NaN       0     0.000000
2019  0.022017  1.065018       NaN       0    -0.000000
...        ...       ...       ...     ...          ...
2019  0.040184  1.039782  0.953262       1     0.008091
2019  0.008091  1.048195  0.975463       1     0.067256
2019  0.067256  1.118692  1.007379       1     0.016862
2019  0.016862  1.137555  1.038209       1     0.016060
2019  0.016060  1.155824  1.067519       1          NaN

[243 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2020 -0.010080  0.989920       NaN       0     0.000000
2020  0.025551  1.015214       NaN       0    -0.000000
2020 -0.004203  1.010947       NaN       0     0.000000
2020  0.003240  1.014223       NaN       0     0.000000
2020  0.017835  1.032311       NaN       0     0.000000
...        ...       ...       ...     ...          ...
2020  0.006016  1.354441  1.375731       0     0.000000
2020  0.016172  1.376345  1.374981       1    -0.011605
2020 -0.011605  1.360373  1.371731       0     0.000000
2020  0.016728  1.383129  1.373327       1    -0.016155
2020 -0.016155  1.360784  1.370959       0          NaN

[240 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
       returns     value     sma10  signal  str_returns
Date
2021  0.040187  1.040187       NaN       0    -0.000000
2021 -0.008632  1.031208       NaN       0     0.000000
2021  0.022514  1.054425       NaN       0    -0.000000
2021 -0.021776  1.031464       NaN       0    -0.000000
2021 -0.028156  1.002422       NaN       0     0.000000
...        ...       ...       ...     ...          ...
2021 -0.000749  1.205758  1.184371       1     0.011879
2021  0.011879  1.220081  1.193996       1    -0.023659
2021 -0.023659  1.191215  1.195955       0    -0.000000
2021 -0.003632  1.186889  1.196308       0     0.000000
2021  0.013706  1.203157  1.199591       1          NaN

[96 rows x 5 columns]
++++++++++++++++++++++++++++++++++++++++++++++++++
None
**************************************************
[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [33]:

# ~~~~~~~~~~~~~~~~~ ЗАПИСЬ В ТАБЛИЦУ ~~~~~~~~~~~~~~~~~

# ================ раббота с таблицей============================================

gc = gd.service_account(filename='Seetzzz-1cb93f64d8d7.json')
worksheet = gc.open("Тесты бэктестинга").worksheet('SMA')

# ===================================  БЫСТРАЯ очистка таблицы ================================================
# range_of_cells = worksheet.range('A1:DB50')  # -> Select the range you want to clear
# for cell in range_of_cells:
#     cell.value = ''
# worksheet.update_cells(range_of_cells)

# ===================================  запись в таблицу ================================================

worksheet.update('B1', [main_result.columns.tolist()] + main_result.values.tolist())

{'spreadsheetId': '1tXInzypcyEFJpfeb7deCcnrzTckofz2p3KSbbaKsEi4',
 'updatedRange': 'SMA!B1:L14',
 'updatedRows': 14,
 'updatedColumns': 11,
 'updatedCells': 154}

In [25]:
def testus(portfolio):
    portfolio_sma = portfolio.copy()
    #     print(portfolio_sma)
    # Calculate the simple moving average of period 10
    weights = np.arange(1,11)

    portfolio_sma['sma10'] = portfolio.rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)
    # Create a trading signal
    portfolio_sma['signal'] = np.where(portfolio_sma.value > portfolio_sma.sma10,1,0)
    # Calculate the strategy returns
    portfolio_sma['str_returns'] = portfolio_sma['returns'].shift(-1) * portfolio_sma['signal']
    #     print(portfolio_sma)
    return portfolio_sma
    
    
atatat = testus(portfolio)
atatat

       returns     value     sma10  signal  str_returns
Date
2021  0.040187  1.040187       NaN       0    -0.000000
2021 -0.008632  1.031208       NaN       0     0.000000
2021  0.022514  1.054425       NaN       0    -0.000000
2021 -0.021776  1.031464       NaN       0    -0.000000
2021 -0.028156  1.002422       NaN       0     0.000000
...        ...       ...       ...     ...          ...
2021 -0.000749  1.205758  0.008231       1     0.011879
2021  0.011879  1.220081  0.008500       1    -0.023659
2021 -0.023659  1.191215  0.002008       1    -0.003632
2021 -0.003632  1.186889  0.000576       1     0.013706
2021  0.013706  1.203157  0.002984       1          NaN

[96 rows x 5 columns]

In [19]:


portfolio['sma10'] = portfolio.value.rolling(window=10).mean()

In [24]:
wma10

       returns     value
Date
2021       NaN       NaN
2021       NaN       NaN
2021       NaN       NaN
2021       NaN       NaN
2021       NaN       NaN
...        ...       ...
2021  0.008231  1.184371
2021  0.008500  1.193996
2021  0.002008  1.195955
2021  0.000576  1.196308
2021  0.002984  1.199591

[96 rows x 2 columns]